<!--
  This template loads for the 'tab.about' state (app.js)
-->

<!-- Separa por parrafors -->
<ion-view title="Acerca de PA" id="about">
  <ion-content padding="true">
  <div class="wrap">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/2Ey4nmJY1ms?autoplay=true" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="card">
  <div class="item item-text-wrap">
      <p style="text-align:center">
     Los artistas del alto de <strong>San Isidro</strong> abren las puertas de sus talleres e invitan a la comunidad a compartir los secretos de su trabajo y la cocina de su obra. Habrá muestras, performances y producciones en vivo.
      <br>
      Chicos y grandes podrán asistir a talleres preparados para ellos por los mismos artistas con ayuda de los alumnos de la escuela de arte  Regina Pacis. Además habrá gastronomía y música en vivo. Para trasladarse habrá un sistema de combis gratuitas, y para organizar mejor el tiempo, una app para el celular con toda la info según el lugar más cercano y las próximas actividades.
      <br>
Durante la semana y con entrada libre habrá un ciclo de “Conversaciones valientes” o miradas desmistificadoras sobre el arte.
   </p>
  </div>
</div>
  </ion-content>
</ion-view>
