<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<script type="text/javascript">
    setTimeout(function(){alert("hello")},2000)
</script>

<ion-view title="home" id="Home">
  <ion-content class="flex flow center fluid">
	<img src="http://i.imgur.com/c42MoUF.png?1"/>
<ul id="menuIndex">
    <li>
        <a href="#/tab/talleres">
            <button class="button">
            <p>talleres </p>
            </button>
        </a>
    </li>
    <li>
        <a href="#/tab/categories">
            <button class="button">
              <p>categorias</p>
            </button>
        </a>
    </li>
    <li>
        <a href="#/tab/agenda">
            <button   class="button">
               <p>agenda </p>
            </button>
        </a>
    </li>
    <li>
        <a href="#/tab/mapa">
            <button  class="button">
               <p>mapa </p>
            </button>
        </a>
    </li>
    <li>
        <a href="#/tab/minibus">
            <button class="button">
               <p>minibus </p>
            </button>
        </a>
    </li>
    <li>
        <a href="#/tab/veladas">
            <button class="button">
                <p> Veladas Valientes </p>
            </button>
        </a>
    </li>
    <li>
        <a href="#/tab/about">
            <button class="button acerca">
              <p> acerca de PA </p>
            </button>
        </a>
    </li>
</ul>

  </ion-content>
</ion-view>
